<a href="/post/{{ _id }}">
  <article>
    <figure>
      <img src="{{ picture }}" alt="{{ title }}" />
    </figure>
    <div>
      <h5>{{ title }}</h5>
      <p>{{ description }}</p>
      <small> Author: {{author.name}}</small>
    </div>
  </article>
</a>




