<h1>Single Post</h1>

<h1>{{post.title}}</h1>
Published by <a href="/profile/{{ post.author._id }}">{{post.author.name}}</a>
<img src="{{post.picture}}" alt="{{post.name}}">
<p>{{post.description}}</p>

{{#each comments}}
    <div class="comment-item">
      <small><a href="/profile/{{ author._id }}">{{ author.name }}</a></small>
      <p>{{ description }}</p>
    </div>
  {{/each}}

<h4>Add a Comment</h4>

<form action="/post/{{ post._id }}/comment" method="POST">
  <label for="input-content">Your Comment</label>
  <textarea name="description" id="input-content" placeholder="Your comment here..."></textarea>

  <button>Submit Comment</button>
</form>